{% extends 'base.html.twig' %}

{% block title %}Medusa - Listing{% endblock %}

{% block body %}

    <h1 class="jumbotron-heading">Listing</h1>
    <hr>
    <p><a href="{{ path('scenario_all') }}" class="btn btn-primary my-2">Scenario - All</a></p>
    <p><a href="{{ path('scenario_person') }}" class="btn btn-primary my-2">Scenario - Person</a></p>
    <p><a href="{{ path('scenario_camera') }}" class="btn btn-primary my-2">Scenario - Camera</a></p>
    <p><a href="{{ path('settings_index') }}" class="btn btn-primary my-2">Settings</a></p>
    <p><a href="{{ path('emulator_index') }}" class="btn btn-primary my-2">Emulator</a></p>
    <p><a href="{{ path('showroom_info') }}" class="btn btn-primary my-2">Showroom Clients Info</a></p>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/scenario.css') }}"/>
{% endblock %}
