<h1 class="jumbotron-heading">{{ title }}</h1>

{% if noTopHr is not defined %}
    <hr style="margin-top: 45px; margin-bottom: 70px;">
{% endif %}

<div class="row products">

    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for product in products %}
                    <a href="http://emag.ro/pd/pd/{{ product.pnk }}" target="_blank" class="product">
                        <div class="glide__slide">
                            <img src="{{ product.imageUrl }}">
                            <p>
                                <strong>{{ product.name }}</strong>
                            </p>
                            <p>
                                <s>
                                    {% if product.initialPrice != product.price %}
                                        {{ product.initialPrice|number_format(2) }}
                                        Lei
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </s>
                            </p>

                            <p style="color: red">
                                {{ product.price|number_format(2) }}
                                Lei
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<hr style="margin-top: 45px; margin-bottom: 70px;">

{% block stylesheets %}
    <style>
        a.product s {
            text-decoration: none;
        }
    </style>
{% endblock %}