{% extends 'base.html.twig' %}

{% block title %}Medusa - Settings{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
            <a href="{{ path('listing') }}" class="btn btn-primary my-5">Back to Listing</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <style>
        .jumbotron {
            height: 100vh;
        }
    </style>
{% endblock %}
